@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }

.transition { 
  transition: .5s all ease;
  -moz-transition: .5s all ease;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
}

.container { background-color: #E3DDCD; }

/*for wrapper*/
.wrapper {
  max-width: 1400px;
  width: 67%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header { position: relative; }

h1 {
  width: 22%;
  position: absolute;
  top: 12px;
  left: 1%;
}

.navigation { 
  margin-bottom: 10px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
 }

.ham { display: none; }
nav { flex-basis: 94%; }
.social { flex-basis: 3%; }
nav ul { display: flex; }

nav li a {
  padding: 10px 17px; 
  color: #1e2544;
  font-family: serif;
  font-size: 13px;
  transition: .5s color ease, .5s background-color ease;
  -moz-transition: .5s color ease, .5s background-color ease;
  -webkit-transition: .5s color ease, .5s background-color ease;
  -o-transition: .5s color ease, .5s background-color ease;
}

nav .active,
nav li a:hover { 
  background-color: #006EA9; 
  color: #fff;
}

.social a { text-indent: -9999px; }

.social a::before{
  content: "\f099";
  padding: 4px;
  border: #4FC7F3 1px solid;
  float: right;
  background-color: #4FC7F3;
  color: #fff;
  font-family: fontAwesome;
  font-size: 11px;
  text-indent: 0;
  transition: .5s color ease, .5s background-color ease;
  -moz-transition: .5s color ease, .5s background-color ease;
  -webkit-transition: .5s color ease, .5s background-color ease;
  -o-transition: .5s color ease, .5s background-color ease;
}

.social a:hover::before { 
  background-color: #fff;
  color: #4FC7F3; 
} 
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* main { 
  display: flex; 
  justify-content: space-between; */
/* } */
/* asdie section styles starts here */
aside { 
  width: 27%;
  display: inline-block;
  background-color: #fff; 
}

.products { 
  width: 72%;
  display: inline-block;
  vertical-align: top;
}

.aside-wrap {
  width: 95%;
  margin: 0 auto;
}

.astro a { margin: 10px 0; }

h2 {
  padding: 12px 0;
  font-size: 14px;
  font-weight: bold;
}

aside ul li {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

aside ul li a {
  color: #1e2544;
  font-size: 14px;
  transition: .5s color ease;
  -moz-transition: .5s color ease;
  -webkit-transition: .5s color ease;
  -o-transition: .5s color ease;
}

aside ul li a:hover { color: #000; }

/*Accordian styling */
.accordion { width: 100%; }

.accordion .accordion-head {
  margin: 12px 0 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}
.accordion .accordion-head * { cursor: pointer; }
.accordion .accordion-body { display: none; }

.arrow {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #000;
  margin-top: 23px;
  /* margin-top: 21px; */
}
.accordion-head.open .arrow {
  border-bottom-color: #000;
  border-top-color: transparent;
  margin-top: 11px;
}
/* aside section styles ends here */

/* featured products styling starts */
.featured ul {
  padding:42px 0 0 4%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
}

.featured ul li {
  margin-bottom: 50px;
  flex-basis: 41.5%;
}

.featured li:nth-child(n+3) figure { width: 57% }
.desk-planner figure { width: 58%; }

.list-content span {
  margin: 10px 0 30px;
  display: block;
  color: #73706c;
  font-size: 14px;
  font-weight: bold;
}

.personal-horo span { margin-bottom: 48px; }

.list-content a {
  padding: 9px;
  border: 1px solid #359ed7;
  background-color: #359ed7;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  transition: .5s color ease, .5s background-color ease;
  -moz-transition: .5s color ease, .5s background-color ease;
  -webkit-transition: .5s color ease, .5s background-color ease;
  -o-transition: .5s color ease, .5s background-color ease;
}

.list-content a:hover {
  background-color: #fff;
  color: #359ed7;
}

h3 {
  padding: 7px 0 7px 4%;
  margin-bottom: 5px; 
  background-color: #fff;
  color: #1C66AC;
  font-family: serif;
  font-size: 26px;
  font-weight: bold;
}

h4 {
  margin: 20px 0 8px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
/* featured product styling ends */

/* slider styling starts here */
.slider-container h3 { 
  padding-bottom: 32px;
  margin-bottom: 0; 
}
.slider-container { background-color: #fff; }

.personal-slider {
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

.personal-slider li { margin-right: calc(2% - 5px); }
.personal-slider li:last-child{ margin-right: 0; }

h5 {
  margin: 5px 0 20px;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
}

.personal-slider .slick-prev { 
  top: 20%;
  left: -60px;
 }

.personal-slider .slick-next{
  top: 20%;
  right: -40px;
}
.personal-slider .slick-prev:before,
.personal-slider .slick-next:before {
  content: '\f105';
  font-family: fontAwesome;
  font-size: 70px;
  color: #000;
  font-weight: bold;
}

.personal-slider .slick-prev:before{ content: '\f104';}
/* slider styling ends here */
/*=================================
main styling ends here
=================================*/

/*=================================
footer styling starts here
=================================*/ 
footer {
  padding: 20px 0; 
  margin-top: 40px; 
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #09264A;
  color: #fff;
}

.footer-head {  
  margin-right: calc(16% - 5px);
  text-align: center; 
}

h6 {
  margin: 5px 0; 
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.footer-head span {
  margin-bottom: 5px;
  display: block;
}

footer ul li {
  padding-right: 4px;
  border-right: 1px solid #fff;
  margin-right: 4px;
}


footer ul li:last-child { border-right: 0; }

footer ul a {
  color: #fff;
  font-size: 13px;
  transition: .5s color ease;
  -moz-transition: .5s color ease;
  -webkit-transition: .5s color ease;
  -o-transition: .5s color ease;
}

.footer-head ul .active,
footer ul a:hover { color: #da8d09; }

.verify {  margin-right: calc(1% - 2px); }


.to-top a { 
  position: fixed;
  right: 2%;
  bottom: 20px;
  text-indent: -9999px;
}

.to-top a::before {
  content: "\f106";
  padding: 10px;
  border-radius: 50%;
  float: right;
  background-color: #504E49;
  color: #fff;
  font-family: fontAwesome;
  font-size: 40px;
  text-indent: 0;
  transition: .5s color ease, .5s background-color ease;
  -moz-transition: .5s color ease, .5s background-color ease;
  -webkit-transition: .5s color ease, .5s background-color ease;
  -o-transition: .5s color ease, .5s background-color ease;
}

.to-top a:hover::before{
  background-color: #000;
  color: #4FC7F3;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

}  
/*media query for 995px ends here*/
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

}  
/*media query for 768px ends here*/
